p {
  color:red;
}
li {
  color:blue;
  font-family: 'Pacifico', cursive;
}
h3 {
  color:magenta;
  font-family: 'Pacifico', cursive;
}
h2 {
  color:crimson;
  font-family: 'Lobster', cursive;
}
h1 {
  color:palevioletred;
  font-family: 'Courgette', cursive;
}
body {
  text-align: center;
  background: url(../images/background-4.jpg) no-repeat fixed;
  background-size: cover;
}
